



/*********** REGOLE GENERALI ***********/

.c_white {
    color: white;
}

.linee_black {
    width: 20%;
    height: 3px;
    border-radius: 10px;
    background-color: black;
}

.linee_white {
    width: 20%;
    height: 3px;
    border-radius: 10px;
    background-color: white;
}


.pt_10 {
    padding-top: 80px ;
}



/*********** MENU ***********/

.menu {
    background-color: #2c3e50;
}

header {
    background-color: #2c3e50;
}



/*********** JUMBOTRON ***********/

._jumbotron {
    background-color: #1abc9c;
    color: white;
}

._jumbotron div {
    text-align: center;
}

._jumbotron div img {
    width: 30%;
}




/*********** SEZIONE TOP ***********/

.sez_top div {
    text-align: center;
}




/*********** SEZIONE BOTTOM ***********/

.sez_bottom {
    background-color: #1abc9c;
    color: white;
}

.box {
    height: 250px;
    border-radius: 20px;
    position: relative;
}

.box img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}

.sez_bottom div {
    text-align: center;
}

.box img:hover {
    background-color: black;
    opacity: 0.5;
}

.p_relatve {
    position: relative;
}

.box img:active{
    z-index: 5;
    bottom:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 1;
    transform: scale(2.5); 
}

.box i {
    font-size: 50px;
    display: none;
}

.box:hover i { 
    display: inline;
}

/*********** FOOTER TOP ***********/

.foot_top h1 {
    text-align: center;
}




/*********** FOOTER BOTTOM ***********/

.foot_bottom_top {
    background-color: #3a546d;
    color: white;
}


.foot_bottom_top div {
    text-align: center;
}

.box_foot i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
}

.foot_bottom_bottom {
    background-color: #2c3e50;
    color: white;
}

.form input {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form textarea {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn_color {
    background-color: #1abc9c;
    border:  none;
}




/*********** DEFAULT ***********/



/* .default  ._jumbotron div {
    border: 1px solid #000;
}
.default .sez_top div {
    border: 1px solid #000;
}

.default .sez_bottom div {
    border: 1px solid #000;
}

.default .foot_top div {
    border: 1px solid #000;
} */












